.logo {
  display: flex;
  align-items: center; /* вертикальное выравнивание */
  gap: 12px;
}

.logoIcon {
  width: 40px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoIcon img {
  width: 100%;
  height: 100%;
}

.logoText {
  font-family: var(--title-font, 'Jost'), sans-serif;
  font-weight: var(--fw-title, 600);
  font-size: 24px;
  line-height: 1.333333;
}





