/* dropdown */
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dropdownLabel {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: inherit;
}

.dropdownMenu {
  background-color: #ffffff;
}

.categoryGroupDefault {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.categoryGroup {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #ffffff;
  z-index: 1;
  border: 1px solid transparent;
}

.categoryGroupActive {
  border: 1px solid #69735d;
  border-top: none;
  border-radius: 0 0 12px 12px;
  max-height: 200px;
  overflow-y: auto;
}

.categoryGroupActive::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

.categoryGroupActive::-webkit-scrollbar-button {
  background-color: transparent;
  width: 6px;
  height: 3px;
}

.categoryGroupActive::-webkit-scrollbar-thumb {
  background-color: var(--disabled-text-color);
  border-radius: 6px;
}

.categorySubGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.categoryTitle {
  width: min-content;
  text-wrap: nowrap;
  font-size: 18px;
  font-weight: 600;
  color: var(--disabled-text-color);
  padding: 12px;
  border-bottom: 1px solid #e4e8df;
}

.checked {
  color: var(--main-text-color);
}

.moreButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #69735d;
  padding: 12px 20px;
  border: 1px solid #69735d;
  border-radius: 12px;
}

.moreButton.error {
  border: 1px solid #bf3920;

}

.moreButtonActive {
  border: 1px solid #69735d;
  border-bottom: 1px solid #e4e8df;
  border-radius: 12px 12px 0 0;
}

.moreButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.checked {
  color: var(--main-text-color);
}

.errorText {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #bf3920;
}
