.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.labelCheckbox {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 10px;
}

.checkboxName {
color: #253017;
font-family: var(--main-text, 'Roboto');
font-weight:var(--fw-text, 400);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}








