.stepCredentials {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.socialButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.socialButtons button {
  border: 1px solid #69735d;
  position: relative;
}

.socialIcon {
  margin-right: 20px;
}

.orContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #253017;
  font-size: 14px;
  text-transform: lowercase;
}

.orContainer::before,
.orContainer::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #e4e8df;
}

.orContainer span {
  white-space: nowrap;
}
