.stepCredentials {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.socialButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.socialButtons button {
  border: 1px solid #69735d;
  position: relative;
}

.socialIcon {
  margin-right: 20px;
}

.orContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #253017;
  font-size: 14px;
  text-transform: lowercase;
}

.orContainer::before,
.orContainer::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #e4e8df;
}

.orContainer span {
  white-space: nowrap;
}

.button {
  --btn-padding-vertical: 12px;
  --btn-padding-horizontal: 24px;

  --color-text-btn: #0c0c0c;

  --sec-borderColorActive: #508826;
  --sec-colorBorderHover: #deebc5;
  --sec-textColorHover: #69735d;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: var(--btn-padding-vertical) var(--btn-padding-horizontal);
  border-radius: 12px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;

  color: var(--color-text-btn);
  text-decoration: none;

  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.buttonSecondary {
  background-color: #ffffff;
  border: 1px solid transparent;
}

.buttonSecondary:hover {
  border-color: var(--sec-colorBorderHover);
  color: var(--sec-textColorHover);
}

.buttonSecondary:active {
  border-color: var(--sec-borderColorActive);
  color: #253017;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 0 0 0 3px var(--focusColor);
}
