.stepContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.textarea {
  resize: none;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: inherit;
  padding: 12px 20px;
  border: 1px solid #69735d;
  border-radius: 12px;
  max-height: 96px;
}

.textarea::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

.textarea::-webkit-scrollbar-button {
  background-color: transparent;
  width: 6px;
  height: 3px;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: #69735d;
  border-radius: 6px;
}

.addImagesContainer {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.imageContainerPreview {
  display: flex;
  gap: 20px;
}

.formGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
}

.imageUploader + div {
  top: 15px;
  left: -20px;
}

.errorText {
  position: absolute;
  top: 100%;
  padding: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #bf3920;
}
