.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.messageImage {
  width: 100%;
  max-width: 100px;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.messageMain {
  display: flex;
  flex-direction: column;
}

.messageTitle {
  margin-bottom: 12px;
  color: var(--main-text-color, #253017);
  font-family: var(--title-font, 'Jost');
  font-weight: var(--fw-subtitle, 500);
  font-size: 24px;
  line-height: 1.16666667;
  letter-spacing: -0.011em;
  text-align: center;
}

.messageText {
  color: var(--main-text-color, #253017);
  font-family: var(----main-font, 'Roboto');
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.messageText:not(:last-child) {
  margin-bottom: 32px;
}

.messageButtons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}









