/*  первые два селектора перенести в файл reset.css */
button {
  border: 0;
  padding: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.toast {
  --toast-bg-color: var(--color-primary-hover, #DEEBC5);
  --toast-focus-bg-color: rgba(62, 197, 9, 0.5);
  --toast-hover-bg-color:#0eec33;
  position: fixed;
  bottom:18px;
  left: 36px;
  z-index: 8888;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  opacity: 0;
  overflow: hidden;
  background-color: var(--toast-bg-color, #DEEBC5);
  transition:  opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;

}

.toastOpen {
  visibility: visible;
  opacity: 1;
}

.toastContent {
  position: relative;
  padding: 24px 24px 24px 24px;
}

.toastMain {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.toastIcon {
  width: 24px;
  aspect-ratio: 1/1;
}

.toastLink {
  position: absolute;
  right: 8px;
  bottom: 8px;
  visibility: hidden;
  border-radius: 20px;
  padding: 8px 12px;
  opacity: 0;
  color: var(--main-text-color, #253017);
  font-family: var(--main-font,'Roboto'), Arial, Helvetica, sans-serif;
  font-weight: var(--fw-text ,400);
  font-size: 12px;
  line-height: 1.3333333;
  letter-spacing: 0.02em;
  background-color: var(--color-secondary, #fff);
  transition: visibility .3s  ease-in-out, opacity .3s ease-in,
               background-color .4s linear, color .4s linear;
}

.toastLink:hover {
  color: var(--color-secondary, #fff);
  background-color: var(--color-primary-pressed, #508826);
}

.toastLink:active{
    background-color:var(--toast-hover-bg-color,#0eec33);
}

.toast:hover:not(:has(.buttonClose:hover)) .toastLink {
  visibility: visible;
  opacity: 1;
} 
.toastMessage {
  color: var(--main-text-color, #253017);
  font-family: var(--title-font,'Jost'), Arial, Helvetica, sans-serif;
  font-weight: var(--fw-subtitle, 500);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.011em;
}


.buttonClose {
  position: absolute;
  top:0;
  right: 0;
  padding-top: 11px;
  padding-right: 11px;
}


/*  крестик */
.crossIcon{
  position: relative;
  display: block;
  width: 13.5px;
  aspect-ratio: 1/1 ;
}

.crossIcon::after,.crossIcon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1.5px;
  height: 13.5px;
  background-color: var(--main-text-color, #253017);
  transition: transform .3s linear, background-color .3s ease-in-out;
}

.crossIcon::after {
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.crossIcon::before {
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.buttonClose:hover .crossIcon::after{
  background-color: var(--color-primary-pressed, #508826);
  transform: rotate(-45deg);
}

.buttonClose:hover .crossIcon::before{
  background-color: var(--color-primary-pressed, #508826);
  transform: rotate( 45deg);
}

.buttonClose:active .crossIcon::after,
.buttonClose:active .crossIcon::before{
  background-color:var(--toast-hover-bg-color,#0eec33);
}

.buttonClose:focus,
.buttonClose:focus-visible,
.toastLink:focus,
.toastLink:focus-visible {
  outline: none;
}
 
.buttonClose:focus-visible .crossIcon {
  border-radius: 30%;
  box-shadow: 0 0 0 3px var(--toast-focus-bg-color,rgba(62, 197, 9, 0.5)); 
}

.toastLink:focus-visible {
  box-shadow: 0 0 0 3px var(--toast-focus-bg-color,rgba(62, 197, 9, 0.5));
}



