.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px;
  padding-bottom: 0;
}

.multiStepRegister {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  background: var(--background-color);
  padding: 5%;
  padding-top: 0;
}

.container {
  display: grid;
  grid-template-rows: min-content min-content auto;
  max-width: 1440px;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 0 140px;
}

.progressBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.stepRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 60px;
  border-radius: 12px;
}

.step {
  font-size: 24px;
  font-weight: 700;
  color: #1e293b;
  padding-bottom: 16px;
  border-bottom: 2px solid #e2e8f0;
}

.registerDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: white;
  border-radius: 12px;
  padding: 60px;
}

.containerDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.titleDescription {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.011em;
  margin: 0;
}

.textDescription {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.images {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.button {
  --btn-padding-vertical: 12px;
  --btn-padding-horizontal: 24px;
  --pr-colorActive: #ffffff;
  --sec-borderColorActive: #508826;
  --sec-colorBorderHover: #deebc5;
  --sec-textColorHover: #69735d;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: var(--btn-padding-vertical) var(--btn-padding-horizontal);
  border-radius: 12px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;

  color: var(--color-text-btn);
  text-decoration: none;

  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.buttonSecondary {
  background-color: var(--pr-colorActive);
}

.buttonSecondary:hover {
  border-color: var(--sec-colorBorderHover);
  color: var(--sec-textColorHover);
}

.buttonSecondary:active {
  border-color: var(--sec-borderColorActive);
  color: #253017;
}
