.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 0 140px;
}

.stepRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 60px;
  border-radius: 12px;
}

.step {
  font-size: 24px;
  font-weight: 700;
  color: #1e293b;
  padding-bottom: 16px;
  border-bottom: 2px solid #e2e8f0;
}
