.button {
    background: transparent;
    border: none;
    padding: 3px 2px 3.05px 2px ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

/* hover */
.button:hover {
  opacity: 0.6;
}

/* focus-visible */
.button:focus-visible {
  outline: 2px solid #4f4f4f;
  outline-offset: 2px;
}

.icon {
    width: 20px;
    height: 17.95px;
    object-fit: contain;
}