.button {
    background: transparent;
    border: none;
    padding: 3px 2px 3.05px 2px ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 20px;
    height: 17.95px;
    object-fit: contain;
}