.profileContainer {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 324px;
  height: 752px;
  gap: 8px;
  border-radius: 24px;
  padding: 40px;
}

.sidebar button {
  padding: 12px 20px;
  display: flex;
  justify-content: start;
  gap: 12px;
  font-weight: 400;
  border-radius: 12px;
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 2%;
}

.sidebar button:hover {
  background-color: #e4e8df;
}

.sidebar button:active {
  background-color: #cdd6b5;
}

.activeTab {
  background-color: #deebc5;
}

.sidebarIcon {
  width: 24px;
  height: 24px;
}

.activeTab {
  background-color: #deebc5;
}

.mainContent {
  padding: 60px;
}

.changePassword {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #508826;
  text-align: start;
}

.select {
  width: 218px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #69735d;
  padding: 12px 20px;
}
.saveButton {
  margin-top: 24px;
  padding: 12px 24px;
}

.saveButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.profileForm {
  display: flex;
  gap: 196px;
}

.formColumn {
  width: 460px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dateInputWrapper {
  position: relative;
  margin-top: 4px;
}

.calendarButton {
  position: absolute;
  right: 20px;
  bottom: 10px;
  cursor: pointer;
}
.avatarColumn {
  width: 244px;
  height: 244px;
  position: relative;
}

.avatarImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatarEditButton {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 56px;
  height: 56px;
  border-radius: 100px;
  background-color: #deebc5;
  padding: 16px;
}

.avatarEditButton:nth-child() {
  width: 24px;
  height: 24px;
}

.uploadIcon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.column {
  position: relative;
  width: 218px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
}

.genderDropdown {
  width: 218px;
}
.textareaWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.textareaContainer {
  position: relative;
  display: flex;
}

.textarea {
  width: 100%;
  min-height: 80px;
  max-height: none;
  padding: 12px 40px 12px 12px;
  resize: none;
  border: 1px solid #69735d;
  border-radius: 12px;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  font-size: 16px;

  line-height: 24px;
  letter-spacing: 2%;
}

.editTextareaButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.passwordEditBlock {
  border-radius: 8px;
}

.passwordActions {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.passwordError {
  display: block;
  margin-top: 4px;
  color: #d32f2f;
  font-size: 12px;
}
