/* переменные */
@import './reset.css';
@import './variables.css';
@import './font.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

main {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 36px;
  padding-top: 136px;
}
