h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: inherit;
}

p {
  margin: 0;
  padding: 0;
  font-family: inherit;
  line-height: 1.5;
}

button {
  border: none;
  padding: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  margin: 0;          
  padding: 0;         
  list-style: none;   
  font-family: inherit; 
  line-height: 1.5;   
}

li {
  margin: 0;
  padding: 0;
}
