:root {
  --color-primary: #ABD27A;
  --color-secondary: #FFFFFF;
  --fw-text: 400;
  --fw-title: 600;
  --fw-subtitle: 500;
  --main-font: 'Roboto';
  --title-font: 'Jost';
  --main-text-color: #253017;
}



