.filter {
  width: 324px;
  padding: 24px 20px;
  border-right: 1px solid #e6e6e6;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 400;

  --hoverTextColor: #69735d;
  --accentColor: var(--color-primary);
}

.section {
  margin-bottom: 28px;
}

.section:last-child {
  margin-bottom: 0;
}

.title {
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 600;
}

