.listContainer {
  display: flex;
  flex-direction: column;
}

.listMain {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.messagesListTitle {
  color: var(--main-text-color, #253017);
  font-family: var(--title-font, 'Jost');
  font-weight: var(--fw-subtitle ,500);
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.011em;
}

.messageListBtn {
  position: relative;
  overflow: hidden;
  color: var(--color-primary-pressed, #508826);
  font-family: var(--main-font, 'Roboto');
  font-weight: var(--fw-subtitle ,500);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 0.5 linear;
}

.messageListBtn:hover{
  color: #3c5e22;
}

.messageListBtn::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: #3c5e22;
  transition: opacity 0.35s linear,  transform 0.35s linear, background-color 0.35s linear;
  transform: translateX(-100%);
}

.messageListBtn:hover::after{
  opacity: 1;
  transform: translateX(0);
}

.messageListBtn:active {
  color:var(--color-primary, #ABD27A);
}

.messageListBtn:active::after {
  background-color:var(--color-primary, #ABD27A);
}

.messageListBtn:active .messageListBtn::after {
  background-color:var(--color-primary, #ABD27A);
}

.messagesList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}