.stepContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.containerBirthAndGender {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.error {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #bf3920;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
