.tagSkill {
  font-size:12px;
  color:var(--main-text-color, #253017);
  font-weight: var(--fw-text,400);
  font-family: var( --main-font, 'Roboto'), system-ui, sans-serif;
  padding: 8px 12px;
  border-radius: 20px;
  letter-spacing: 0.02em;
  line-height: 0.75;
}