/* Сброс для всех списков */
/* надо создать файл reset.css и перенести этот сброс списков туда вместе сброслм кнопки */
ul,
ol {
  margin: 0;        /* убираем внешние отступы */
  padding: 0;       /* убираем внутренние отступы */
  list-style: none; /* убираем маркеры */
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordion {
  width: 100%;
  min-width: 284px;
}
.accordionPanel {
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 24px;
  margin-bottom: 12px;
}

.accordionPanel > :nth-child(2) img{
  width: 16px;
  height: 8px;
}

.accordionContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 34px;
  opacity: 0;  
  transition:  opacity 0.3s ease-in-out;
}
.accordionContentOpen {
  opacity: 1;
}








