.contain {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  min-width: 527px;
  height: 48px;
  background-color: var(--color-secondary);
  display: flex;
  gap: 8px;
  justify-content: start;
  align-items: center;
  border: none;
  border-radius: 12px;
  padding: 12px;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;

  font-weight: var(--fw-text);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  vertical-align: middle;

  caret-color: var(--color-primary-pressed);

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }

  &::-moz-search-cancel-button {
    display: none;
  }

  &::-ms-clear {
    display: none;
  }
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--color-caption);
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.input::placeholder {
  transition: opacity 0.2s ease;
}

.searchIcon {
  width: 20px;
  height: 20px;
  margin: 2px;
}

.clearButtonWrapper {
  width: 24px;
  height: 24px;
}
