* {
    box-sizing: border-box;
}

.card {
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 20px;
    width: 324px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.user {
    display: flex;
    align-items: center;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    flex: 0 0 auto;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 auto;
    text-align: center;
}

.icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    transform: scale(1.31);
    cursor: pointer;
    z-index: 1;
}

.text {
    margin: 0;
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #253017;
}

.text h3 {
    font-family: var(--open-sans-font, 'Open Sans');
    font-size: 20px;
    font-weight: 500; 
    line-height: 25px;
    letter-spacing: 0.04em;
    margin: 0;
    color: var(--main-text-color, #253017);
}

.text p {
    font-family: var( --main-font, 'Roboto'), system-ui, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.029em;
    margin: 0;
    line-height: 16px;
    color: var(--main-text-color, #253017);
}

.skills_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.skill_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skill_container h4 {
    font-family: var( --main-font, 'Roboto'), system-ui, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 24px;
    letter-spacing: 0.007em;
    color: var(--main-text-color, #253017);
}

.skill_list {
    font-size: 12px;
    font-weight: 400;
}