* {
    box-sizing: border-box;
    
}

.card {
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 20px;
    width: 324px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.user {
    align-items: flex-start;
    display: flex;
    gap: 12px;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 172px;
    justify-content:flex-end;
}

.icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 1;
}

.text {
    margin: 0;
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #253017;
}

.text h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.011em;
    margin: 0;
}

.text p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.02em;
    vertical-align: middle;
    margin: 0;
}

.skills_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.skill_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skill_container h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.skill_list {
    font-size: 12px;
    font-weight: 400;
}

.tag {
    display: inline-block;
    margin-right: 4px;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 16px;
    color: #253017;
    /* для теста (ПОТОМ РАЗОБРАТЬСЯ С ЦВЕТАМИ) */
    background-color: #F7E7F2;
}