.page {
  display: block;
  padding: 228px 490px 84px 490px;
  background: var(--background-color);
}

.content {
  width: 460px;
  height: 480px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transform: rotate(0deg);
}

/* svg */
.content svg {
  width: 460px;
  height: 304px;
  margin-bottom: 40px;
}

/* заголовок */
.title {
  margin: 0 0 4px 0;
  font-weight: var(--fw-title);
  font-size: 28px;
  line-height: 32px;
  color: var(--main-text-color);
  text-align: center;
}

/* описание */
.text {
  margin: 0 0 32px 0;
  max-width: 420px;
  font-weight: var(--fw-text);
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text-color);
  opacity: 0.8;
  text-align: center;
}

/* кнопки */
.actions {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* контейнер кнопки по макету */
.buttonWrapper {
  width: 218px;
  height: 48px;
}

/* заставляем кнопку растянуться */
.buttonWrapper > button {
  width: 100%;
  height: 100%;
}
